@model DiplomaDataModel.CourseOption.Choice

@{
    ViewBag.Title = "Choose your Course Options";
}
<h1>@ViewBag.Title</h1>
<p class="choice_error">@ViewData["choice_error"]</p>
<p class="choice_error">@ViewData["term_error"]</p>
@using (Html.BeginForm())
{
    <fieldset>
        @Html.AntiForgeryToken()
        <legend>@ViewBag.YearTerm</legend>
        @Html.EditorForModel()
        <p><input type="submit" value="Save" /></p>
    </fieldset>
}


<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to List", "Index")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
